<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Show!</title>
  </head>
  <body>
    <form action="/add" method="post">
      <input type="text" name="id" placeholder="Add IMDb ID Here!" required />
      <input type="text" name="review" placeholder="Add Review Here!" />
      <input
        type="number"
        name="rating"
        placeholder="Rate Show Out of 10!"
        required
      />
      <input type="date" name="watchDate" required />
      <input type="radio" name="type" id="movie" value="movie" required />
      <label for="movie">movie</label>
      <input type="radio" name="type" id="series" value="series" />
      <label for="series">series</label>
      <input type="submit" />
    </form>
  </body>
</html>
